/* Theme Color: teal, rgb(255,255,254), #333*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 18px;
}

header {
    color: rgb(0, 151, 151);
    border-bottom: 1px solid teal;
    background-color: rgba(255, 255, 255);
    padding-left: 150px;
    top: 0%;
}

.fixed {
    position: fixed;
    width: 100%;
}

header span {
    display: flex;
}

header section {
    margin-left: 0px;
    margin-right: 0px;
}

header h1 {
    font-size: 32px;
    margin: 10px;
}

ul {
    list-style: none; 
    padding-left: 0px;
}

.Portfolio_menu {
    font-size: 16px;
    position: absolute;
    left: 650px;
    width: 586px;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    margin: 7px;
}

a {
    color: #333;
    text-decoration-line: none;
}

header a:hover {
    color: #666;
}

#Select_page {
    color: teal;
}

section {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.space {
    margin-top: 70px;
}

ul {
    list-style: none; 
    padding-left: 0px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photo_li {
    border: 1px solid rgba(51, 51, 51, 0.5);
    margin-top: 20px;
}

.long_img {
    width: 175px;
}

.wide_img {
    width: 310px;
}

.too_wide_img {
    width: 412px;
}

.photo_li img {
    width: 100%;
    height: auto;
}

ul li span {
    display: flex;
    justify-content: space-evenly;
}

ul li p {
    color: rgb(0, 100, 100);
}

footer {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    padding-left: 150px;
}
