/* Theme Color: teal, rgb(255,255,254), #333*/

* {
    font-family: Helvetica, "맑은 고딕", "Malgun Gothic", "sans-serif";
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 15px;
    color: #333;
}

header {
    color: rgb(0, 151, 151);
    border-bottom: 1px solid teal;
    background-color: rgba(255, 255, 255);
    padding-left: 150px;
    top: 0%;
}

.fixed {
    position: fixed;
    width: 100%;
}

header span {
    display: flex;
}

header h1 {
    font-size: 23px;
    margin: 10px 24.5px 10px 10px;
}

ul {
    list-style: none; 
    padding-left: 0px;
}

header ul {
    position: absolute;
    left: 39%;
    width: 332px;
    padding: 13px;
}

.Portfolio_menu {
    display: flex;
    justify-content: space-between;
    margin: 1px;
}

.Portfolio_menu a {
    color: #333;
    text-decoration-line: none;
}

.Portfolio_menu a:hover {
    color: #666;
}

#Select_page {
    color: teal;
}

.space {
    margin-top: 70px;
}

.top_space {
    margin-top: 90px;
}

.side_space {
    margin-left: 50px;
    margin-right: 50px;
}

section h3 {
    font-size: 18px;
    color: rgb(0, 100, 100);
    margin: 0px;
}

section ul {
    background-color: #F9F9F9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

section ul li {
    margin-top: 20px;
    margin-bottom: 20px;
}

section div a {
    color: teal;
    text-decoration-line: none;
}

section div button {
    border: 0.5px solid #F9F9F9;
    background-color: #F9F9F9;
    border-radius: 7px;
    cursor: pointer;
    width: 240px;
    height: 230px;
}

section div button:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 23px -10px #777;
}

section img {
    width: 100px;
    padding: 10px;
}

section button h4 {
    font-size: 17px;
    text-align: center;
    color: teal;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    padding-left: 150px;
}
