/* Theme Color: teal, rgb(255,255,254), #333*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard-Regular';
    margin: 0px;
    font-size: 15px;
    color: #333;
}

header {
    color: rgb(0, 151, 151);
    border-bottom: 1px solid teal;
    background-color: rgba(255, 255, 255);
    padding-left: 150px;
    top: 0%;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header span {
    display: flex;
}

header h1 {
    font-size: 23px;
    margin: 10px 24.5px 10px 10px;
}

ul {
    list-style: none; 
    padding-left: 0px;
}

header ul {
    position: absolute;
    left: 39%;
    width: 332px;
    padding: 13px;
}

.Portfolio_menu {
    display: flex;
    justify-content: space-between;
    margin: 1px;
}

.Portfolio_menu a {
    color: #333;
    text-decoration-line: none;
}

.Portfolio_menu a:hover {
    color: #666;
}

#Select_page {
    color: teal;
}

.space {
    margin-top: 70px;
}

.top_space {
    margin-top: 90px;
}

.side_space {
    margin-left: 50px;
    margin-right: 50px;
}

section h3 {
    font-size: 18px;
    color: rgb(0, 100, 100);
    margin: 0px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div a {
    color: teal;
    text-decoration-line: none;
}

section div button {
    border: 0.5px solid white;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
    width: 305px;
    height: 422px;
    transition: all .35s ease-out;
    z-index: 1;
}

section div button:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 23px -12px #888;
}

section img {
    width: 100px;
    padding: 10px;
}

section button h4 {
    font-size: 17px;
    text-align: center;
    color: teal;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

section button p {
    font-family: 'SDSamliphopangche_Outline';
    font-size: 82px;
    text-align: center;
    color: teal;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    padding-left: 150px;
}
